header {
  display: grid;
  width: 1052px;
  grid-template-columns: repeat(7, 1fr);
  margin: 92px 0 0 24px;
}

.header__menu {
  display: grid;
  grid-column: 1/4;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.header__links-list-item {
  list-style-type: circle;
  text-underline-offset: 4px;
  padding: 3px 34px 0 0;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding: 3px 32px 0 27px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  padding-left: 2px;
}

.address {
  display: grid;
  grid-column: 5/8;
}

.header__address {
  display: grid;
  font-size: 18px;
  font-style: normal;
  align-content: center;
  line-height: 135%;
  text-underline-offset: 4px;
  margin: 4px 0 1px 187px;
}

.cover {
  position: relative;
  height: 755px;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-top: 92px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: relative;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
}

.cover__title {
  font-size: 100px;
  padding-top: 165px;
  padding-left: 50px;
}

.aligned-text {
  letter-spacing: 0.3em;
}

.letter-spacing {
  padding-left: 30px;
}

.aligned-text_center {
  display: block;
  text-align: center;
  letter-spacing: 0.3em;
  margin-top: 9px;
  margin-right: 79px;
}

.letter-spacing-center {
  padding-left: 28px;
}

.aligned-text_right {
  display: block;
  text-align: end;
  letter-spacing: 0.3em;
  padding-top: 3px;
  margin-right: 20px;
}

.letter-spacing-right {
  margin-left: 29px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 127px 0 0 76px;
}

.cover__description-text {
  word-spacing: 19px;
  padding-top: 13px;
  padding-left: 2px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 50px;
  cursor: pointer;
}

.lots {
  
  margin: 180px 24px 0;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
}

.card {
  margin-top: 27px;
}

.lots__card-list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: underline;
  margin: 51px 40px 0;
}

.card__text {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: auto 40px 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_list {
  display: flex;
  width: 334px;
  height: 563px;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
}

.card_align {
height: 100%;
display: flex;
flex-wrap: wrap; 
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  color: black;
  text-underline-offset: 4px;
  margin: 31px 0 0 40px;
}

.about {
  width: 1052px;
  margin: 149px 0 0 24px;
}

.about__column {
  display: flex;
  width: 1052px;
  height: 595px;
}

.about__logo {
  display: flex;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 33px 0px 0 46px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  height: 112px;
}

.about__text {
  width: 693px;
  font-size: 20px;
  font-weight: 400;
  margin: 135px 0 0px 68px;
  padding-left: 5px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text__essence {
  padding-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  width: 1000px;
  margin: 179px 50px 88px;
}

.footer__address {
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 4px;
  padding-left: 1px;

}
.footer__menu {
  font-size: 18px;
  text-underline-offset: 5px;
}

.footer__menu-list {
  display: grid;
  list-style: none;
}

.footer__menu-link_active,
.footer__menu-list-item {
  justify-self: center;
}

.footer__menu-link_active a {
  text-decoration: none;
}

.footer__social {
  margin-left: 185px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
